# Build
**/.gradle
#**/local.properties
**/build
**/captures
**/*.hprof

# IDE - Android Studio
**/*.iml
**/.idea/workspace.xml
**/.idea/libraries
**/.idea/caches/build_file_checksums.ser
**/.idea

# VIM
**/*.swp

