<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="uk.co.ourfriendirony.medianotifier">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name="uk.co.ourfriendirony.medianotifier.general.StaticContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.ActivityMain"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.ActivitySettings"/>
        <activity android:name=".activities.ActivityMovie"/>
        <activity android:name=".activities.ActivityMovieFind"/>
        <activity android:name=".activities.ActivityMovieNotifications"/>
        <activity android:name=".activities.ActivityTV"/>
        <activity android:name=".activities.ActivityTVFind"/>
        <activity android:name=".activities.ActivityTVNotifications"/>
        <activity android:name=".activities.ActivityArtist"/>
        <activity android:name=".activities.ActivityArtistFind"/>
        <activity android:name=".activities.ActivityArtistNotifications"/>

        <receiver android:name=".notifier.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".notifier.NotifierReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":remote">
        </receiver>

    </application>
</manifest>
