<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.ourfriendirony.medianotifier">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.DARK">

        <activity
            android:name=".activities.ActivitySplash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ActivityMain" />

        <activity
            android:name=".activities.ActivitySettings"
            android:parentActivityName=".activities.ActivityMain" />
        <activity
            android:name=".activities.ActivityFind"
            android:parentActivityName=".activities.ActivityMain" />
        <activity
            android:name=".activities.ActivityLibrary"
            android:parentActivityName=".activities.ActivityMain" />
        <activity
            android:name=".activities.ActivityUnplayed"
            android:parentActivityName=".activities.ActivityMain" />

        <receiver android:name=".notifier.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".notifier.NotifierReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />

    </application>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
